

.bg-custom{
    background-color:#A8E6CF;
}

.padding-top{
    padding-top: 16px;
}

.flu{
    margin-top: 40px;
}

.custom-product{
    margin: 5px;
    width: 253px;
    height: 385px;
}

@media screen and (max-width: 1399px) {
    .custom-product{
        width: 275px;
    }
}